@page
@model Web_applogs2.Pages.Shared.Trigger500Model
@{
    ViewData["Title"] = "Redirecting to Error Page";

}
<h1>Redirecting to Error Page</h1>
<p>You will be redirected to a page that will throw a 500 error.</p>
